<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Components buttons</h3>
      <ul class="nav nav-tabs">
        <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a
            routerLink="component-comunication-life-cycle">component-comunication-life-cycle</a></li>
        <li role="presentation" routerLinkActive="active"><a [routerLink]="['/create-server']">create-server</a></li>
        <li role="presentation" routerLinkActive="active"><a
            routerLink="create-server-blueprint">create-server-blueprint</a></li>
        <li role="presentation" routerLinkActive="active"><a [routerLink]="['/directives']">directives</a></li>
        <li role="presentation" routerLinkActive="active"><a routerLink="game">game</a>
        </li>
        <li role="presentation" routerLinkActive="active"><a routerLink="server">server</a></li>
        <li role="presentation" routerLinkActive="active"><a [routerLink]="['/create-servers']">servers</a></li>
        <li role="presentation" routerLinkActive="active"><a routerLink="services">services</a></li>
        <li role="presentation" routerLinkActive="active"><a
            [routerLink]="['/services-challenge']">services-challenge</a>
        </li>
        <li role="presentation" routerLinkActive="active"><a routerLink="success-alert">success-alert</a></li>
        <li role="presentation" routerLinkActive="active"><a routerLink="warning-alert">warning-alert</a></li>
        <li routerLinkActive="active"><a routerLink="observables/home-observable">observables</a></li>
        <li routerLinkActive="active"><a routerLink="routing/home-routing">routes</a></li>
        <li routerLinkActive="active"><a routerLink="form">form</a></li>
        <li routerLinkActive="active"><a routerLink="second-form">second-form</a></li>
        <li routerLinkActive="true"><a routerLink="third-form">third-form</a></li>
        <li routerLinkActive="true"><a routerLink="pipes">pipes</a></li>
        <li routerLinkActive="true"><a routerLink="http-requets">http-requets</a></li>
      </ul>
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onToggleRoutes()">routes</button>
      <app-routing *ngIf="showRoutes"></app-routing>
    </div>
  </div> -->
</div>
